{% extends '_/es/.dockerignore.j2' %}

{% block makefile %}
{{ super() }}
!/Makefile.module
{% endblock %}

{% block tool_config %}
{{ super() }}
{% if has_babel_config_json %}
!/babel.config.json
{% else %}
!/.babelrc
{% endif %}

!/.eslintignore

!/.prettierignore

!/esbuild
!/esbuild.js

!/karma.conf.js

!/populatePublicVendor.js

{% if has_postcss_config_js %}
!/postcss.config.js
{% endif %}

!/.eastrc
{% endblock %}

{% block executables %}
{{ super() }}
!/bin/east
!/bin/run
{% endblock %}

{% block app %}
!/app.js
!/app

!/build/translations/*.js
!/build/views/*.js

{% if has_frontend_fonts %}
!/frontend/fonts
{% endif %}
!/frontend/js
{% if has_frontend_stylesheets %}
!/frontend/stylesheets
{% endif %}

!/locales/*.json

!/modules
/modules/*/Makefile

!/public/*.ico
!/public/*.png
!/public/*.svg
!/public/*.txt
!/public/manifest-dev.json

!/public/brand
{% if not has_frontend_fonts %}
!/public/font
{% endif %}
!/public/img
!/public/recurly
!/public/static

{% if not has_frontend_stylesheets %}
!/public/stylesheets/
public/stylesheets/*.css
public/stylesheets/*.map
{% endif %}

!/migrations

!/test/*/bootstrap.js
!/test/acceptance/config
!/test/acceptance/files
!/test/acceptance/{{ src_dir }}
!/test/smoke/{{ src_dir }}
!/test/unit/{{ src_dir }}
!/test/frontend
{% if has_karma_tests %}
!/test/karma
{% endif %}
{% endblock %}
