{% extends '_/es/.dockerignore.j2' %}

{% block makefile %}
{{ super() }}
!/Makefile.module
{% endblock %}

{% block tool_config %}
{{ super() }}
!/.babelrc

!/.eslintignore

!/.prettierignore

!/Gruntfile.js

!/karma.conf.js

!/webpack.config.js
!/webpack.config.prod.js
!/webpack.config.test.js
{% endblock %}

{% block config %}
!/config/settings.defaults.coffee
{% endblock %}

{% block executables %}
{{ super() }}
!/bin/east
!/bin/run
{% endblock %}

{% block app %}
!/app.js
!/app

!/modules
/modules/*/Makefile

!/public/*.ico
!/public/*.png
!/public/*.svg
!/public/*.txt

!/public/brand
!/public/font
!/public/img

{% if uses_ace_builds is not defined %}
!/public/js/ace-1.4.5
{% endif %}
!/public/js/libs

!/public/recurly
!/public/src
!/public/static

!/public/stylesheets/
public/stylesheets/*.css
public/stylesheets/*.map

!/migrations

!/test/*/bootstrap.js
!/test/acceptance/config
!/test/acceptance/files
!/test/acceptance/{{ src_dir }}
!/test/smoke/{{ src_dir }}
!/test/unit/{{ src_dir }}
!/test/unit/bootstrap.js
!/test/unit_frontend/es
!/test/unit_frontend/import_tests.js
!/test/unit_frontend/src
{% endblock %}
