{% extends '_/coffeescript/Jenkinsfile.ce.j2' %}

{% block acceptance_tests %}
        stage('Code Style') {
          parallel {
            stage('Lint') {
              steps {
                sh 'docker run --rm $IMAGE_CI make lint'
              }
            }

            stage('Prettier') {
              steps {
                sh 'docker run --rm $IMAGE_CI make format'
              }
            }
          }
        }
        stage('Acceptance Tests') {
          parallel {
            stage('Module Acceptance Tests') {
              steps {
                sh 'make test_acceptance_modules_run'
              }
            }

            stage('Frontend Tests') {
              steps {
                sh 'make test_frontend_build_run'
              }
            }

            stage('App Acceptance Tests') {
              steps {
                sh 'make test_acceptance_app_run'
              }
            }
          }
        }
{% endblock %}

{% block post %}
  post {
    cleanup {
      sh 'make clean_ci'
    }
  }
{% endblock %}
