{% extends '_/coffeescript/Jenkinsfile.ce.j2' %}

{% block lint %}
        stage('Code Style') {
          parallel {
            stage('Lint') {
              steps {
                sh 'docker run --rm $IMAGE_CI make lint'
              }
            }

            stage('Prettier') {
              steps {
                sh 'docker run --rm $IMAGE_CI make format'
              }
            }
          }
        }
{% endblock %}

{% block acceptance_tests %}
          parallel {
            stage('Module Acceptance Tests') {
              steps {
                sh 'make test_acceptance_modules_run'
              }
            }

            stage('Frontend Tests') {
              steps {
                sh 'make test_frontend_build_run'
              }
            }

            stage('App Acceptance Tests') {
              steps {
                sh 'make test_acceptance_app_run'
              }
            }
          }
{% endblock %}

{% block archive %}
        stage('archive public') {
          steps {
            sh '''docker run \
              --rm \
              --volume $PWD/compress.sh:/compress.sh \
              --user root \
              --workdir /app/public \
              --entrypoint sh \
              $IMAGE_CI \
                -c '/compress.sh && tar --create .' \
              | xz -9e \
              > public.tar.xz
            '''
            archiveArtifacts artifacts: 'public.tar.xz', fingerprint: true
          }
          post {
            cleanup {
              sh 'rm -f public.tar.xz'
            }
          }
        }
{% endblock %}
