{% extends '_/es/.dockerignore.j2' %}

{% block app %}
!/app.coffee
!/app/coffee
!/app/lib

!/test/acceptance/coffee
!/test/acceptance/config
!/test/acceptance/fixtures
!/test/acceptance/libs
!/test/fixtures
!/test/smoke/coffee
!/test/unit/coffee
{% endblock %}
