{% extends '_/es/Jenkinsfile.ce.j2' %}

{% block acceptance_tests %}
          stages {
            stage('FS Acceptance Tests') {
              steps {
                sh 'make test_acceptance_fs'
              }
              post {
                always {
                  xunit (tools: [JUnit(pattern: 'output/acceptance_fs.xml')])
                }
              }
            }
            stage('S3 Acceptance Tests') {
              steps {
                sh 'make test_acceptance_s3'
              }
              post {
                always {
                  xunit (tools: [JUnit(pattern: 'output/acceptance_s3.xml')])
                }
              }
            }
          }
{% endblock %}
{% set has_submitted_acceptance_test_results = true %}
