{% from 'macros/header.j2' import header with context %}
{{ header('#') }}

# ignore everything but our allow list
*

!/LICENSE

########
# core #
!/package-lock.json
!/package.json
# core #
########

########
# make #
{% block makefile %}
!/Makefile
{% endblock %}
# make #
########

###########
# scripts #
!/docker_cleanup.sh
{% block executables %}
{% if has_install_deps %}
!/install_deps.sh
{% endif %}
{% if has_entrypoint %}
!/entrypoint.sh
{% endif %}
{% if has_setup_env %}
!/setup_env.sh
{% endif %}
{% endblock %}
# scripts #
###########

###############
# tool config #
{% block tool_config %}
!/.eslintrc

!/.prettierrc
{% endblock %}
# tool config #
###############

##############
# app config #
{% block config %}
{% if has_config %}
!/config/settings.defaults.*
{% endif %}
{% endblock %}
# app config #
##############

#######
# app #
{% block app %}
{% if has_index_js %}
!/index.js
{% endif %}
{% if has_app_js %}
!/app.js
{% endif %}
{% if has_app_src %}
!/app/{{ src_dir }}
{% endif %}
{% if has_app_lib %}
!/app/lib
{% endif %}
{% if has_app_templates %}
!/app/templates
{% endif %}
{% if has_app_views %}
!/app/views
{% endif %}

{% if has_acceptance_test_bootstrap %}
!/test/acceptance/bootstrap.js
{% endif %}
!/test/acceptance/config
!/test/acceptance/fixtures
!/test/acceptance/{{ src_dir }}
!/test/acceptance/libs
!/test/fixtures
!/test/smoke/{{ src_dir }}
{% if has_unit_test_bootstrap %}
!/test/unit/bootstrap.js
{% endif %}
!/test/unit/{{ src_dir }}
{% endblock %}
# app #
#######

###################
# build artifacts #
!/build_artifacts.tar.gz
# build artifacts #
###################
