{% from 'macros/header.j2' import header with context %}
{{ header('#') }}
{% set ci_image = 'ci/$PROJECT_NAME:$BRANCH_NAME-$BUILD_NUMBER' %}

version: "3.1"

services:
  test_unit:
    image: node:{{ node_version }}
    volumes:
      - .:/app
    working_dir: /app
    environment:
      MOCHA_GREP: ${MOCHA_GREP}
    command: npm run test:unit
{% if not has_entrypoint %}
    user: node
{% endif %}

  test_acceptance:
{% if name == 'web' %}
    image: node:{{ node_version }}
{% else %}
    build: .
{% endif %}
    volumes:
      - .:/app
{% if name == 'clsi' %}
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - ./compiles:/app/compiles
      - ./cache:/app/cache
      - ./bin/synctex:/app/bin/synctex
{% endif %}
    working_dir: /app
    environment:
      REDIS_HOST: redis
      MONGO_HOST: mongo
{% if acceptance_creds == 'aws' %}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_BUCKET: ${AWS_BUCKET}
{% endif %}
      MOCHA_GREP: ${MOCHA_GREP}
{% if name == 'filestore' %}
      ENABLE_CONVERSIONS: "true"
{% endif %}
{% if name == 'clsi' %}
      TEXLIVE_IMAGE: quay.io/sharelatex/texlive-full:2017.1
      TEXLIVE_IMAGE_USER: "tex"
      DOCKER_RUNNER: "true"
      COMPILES_HOST_DIR: $PWD/compiles
      SYNCTEX_BIN_HOST_PATH: $PWD/bin/synctex
      SHARELATEX_CONFIG: /app/config/settings.defaults.coffee
{% endif %}
{% if name == 'web' %}
      SHARELATEX_ALLOW_PUBLIC_ACCESS: 'true'
      PROJECT_HISTORY_ENABLED: 'true'
      ENABLED_LINKED_FILE_TYPES: 'url,project_file,project_output_file,mendeley,zotero'
      LINKED_URL_PROXY: 'http://localhost:6543'
      SHARELATEX_CONFIG: /app/test/acceptance/config/settings.test.coffee
      NODE_ENV: production
{% endif %}
{% if not has_entrypoint %}
    user: node
{% endif %}
    depends_on:
{% for dependency in dependencies %}
      - {{ dependency }}
{% endfor %}
{% if name == 'web' %}
    command: npm run test:acceptance:app
{% else %}
    command: npm run test:acceptance
{% endif %}

{% if name == 'web' %}
  test_frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    volumes:
      - .:/app
    working_dir: /app
    command: npm run test:frontend -- --single-run
{%- endif %}


  tar:
    build: .
    image: {{ ci_image }}
    volumes:
      - ./:/tmp/build/
    command: tar -czf /tmp/build/build.tar.gz --exclude=build.tar.gz --exclude-vcs .
    user: root

{% if 'redis' in dependencies %}
  redis:
    image: redis
{% endif %}

{% if 'mongo' in dependencies %}
  mongo:
    image: mongo:3.4
{% endif %}

