{% from 'macros/header.j2' import header with context %}
{{ header('//') }}

{% set agent_label_build = 'sharelatex && docker_builder' %}
{% set agent_label_test = 'sharelatex' %}
pipeline {
  agent none
  environment {
    DOCKER_COMPOSE_FLAGS = "-f docker-compose.ci.yml"
  }

  stages {
    stage('Fan Out 1') {
      parallel {
{% block lint %}
        stage('Lint') {
          agent {
            label '{{ agent_label_test }}'
          }
          steps {
            sh 'make lint'
          }
        }

        stage('Formatting') {
          agent {
            label '{{ agent_label_test }}'
          }
          steps {
            sh 'make format'
          }
        }

{% endblock %}
        stage('App Image') {
          agent {
            label '{{ agent_label_build }}'
          }
          stages {
            stage('Prepare environment') {
              stages {
                stage('Pull node image') {
                  steps {
                    sh 'make pull_node'
                  }
                }
                stage('Clean Previous artifacts') {
                  steps {
                    sh 'make clean_output'
                    sh 'git clean -xdf'
                  }
                }
                stage('Pull Cache') {
                  environment {
                    TARGET = '-dev-deps'
                    R_TARGET = '-dev-deps'
                  }
                  steps {
                    sh 'make pull_cache_gracefully'
                  }
                  post {
                    cleanup {
                      sh 'make clean_pull_cache'
                    }
                  }
                }
              }
            }

            stage('Build dev-deps') {
              steps {
                sh 'make build_dev_deps'
              }
            }

            stage('Push dev-deps') {
              environment {
                TARGET = '-dev-deps'
                R_TARGET = '-dev-deps'
              }
              steps {
                sh 'make push_cache'
                sh 'make push_cache_branch'
                sh 'make push_target'
              }
              post {
                cleanup {
                  sh 'make clean_push'
                }
              }
            }
          }
          post {
            cleanup {
              sh 'make clean_docker_images'
            }
          }
        }
      }
    }

    stage('Fan out 2') {
      parallel {
{% if has_unit_tests %}
        stage('Unit Tests') {
          agent {
            label '{{ agent_label_test }}'
          }
          environment {
            SUFFIX = '-test-unit'
          }
          steps {
            sh 'make prepare_ci_stage'
            sh 'make test_unit_app'
          }
          post {
            always {
              junit 'output/unit.xml'
            }
            cleanup {
              sh 'make clean_ci_stage'
            }
          }
        }
{% endif %}

{% if has_acceptance_tests %}
        stage('App Acceptance Tests') {
{% if name == 'clsi' %}
          agent {
            label '{{ agent_label_test }} && docker_socket_access'
          }
          environment {
            // https://github.com/das7pad/sharelatex-docker-images.git
            TEXLIVE_IMAGE = "$SHARELATEX_DOCKER_REPOS/texlive:2017.1-full"
            PULL_TEXLIVE_BEFORE_RUN = "true"
            SUFFIX = 'test-acceptance'
          }
{% else %}
          agent {
            label '{{ agent_label_test }}'
          }
          environment {
            SUFFIX = '-test-acceptance'
          }
{% endif %}
          steps {
            sh 'make prepare_ci_stage'
            sh 'make test_acceptance_app'
          }
          post {
            always {
              junit 'output/acceptance.xml'
            }
            cleanup {
              sh 'make clean_test_acceptance_app'
              sh 'make clean_ci_stage'
            }
          }
        }
{% endif %}

{% if has_frontend_tests and not has_karma_tests %}
        stage('Frontend Tests') {
          agent {
            label '{{ agent_label_test }}'
          }
          environment {
            SUFFIX = '-test-frontend'
          }
          steps {
            sh 'make prepare_ci_stage'
            sh 'make test_frontend_build_run'
          }
          post {
            always {
              junit 'output/frontend.xml'
            }
            cleanup {
              sh 'make clean_test_frontend'
              sh 'make clean_ci_stage'
            }
          }
        }
{% endif %}

{% if has_frontend_tests and has_karma_tests %}
        stage('JSDOM Tests') {
          agent {
            label '{{ agent_label_test }}'
          }
          environment {
            SUFFIX = '-test-jsdom'
          }
          steps {
            sh 'make prepare_ci_stage'
            sh 'make test_frontend_build_run'
          }
          post {
            always {
              junit 'output/jsdom.xml'
            }
            cleanup {
              sh 'make clean_test_frontend'
              sh 'make clean_ci_stage'
            }
          }
        }

        stage('Karma Tests') {
          agent {
            label '{{ agent_label_test }}'
          }
          environment {
            SUFFIX = '-test-karma'
          }
          steps {
            sh 'make prepare_ci_stage'
            sh 'make test_karma_build'
            sh 'make test_karma_run'
          }
          post {
            always {
              junit 'output/karma.xml'
            }
            cleanup {
              sh 'make clean_test_karma'
              sh 'make clean_ci_stage'
            }
          }
        }
{% endif %}

{% if has_modules %}
        stage('Module Acceptance Tests') {
          agent {
            label '{{ agent_label_test }}'
          }
          environment {
            SUFFIX = '-test-acceptance-modules'
          }
          steps {
            sh 'make prepare_ci_stage'
            sh 'make test_acceptance_modules_run_ci'
          }
          post {
            always {
              junit 'output/acceptance_module_*.xml'
            }
            cleanup {
              sh 'make clean_test_acceptance_modules'
              sh 'make clean_ci_stage'
            }
          }
        }
{% endif %}

{% set label = (
        ('Webpack and ' if has_webpack_config_js else '')
        + 'Production build'
      ) %}
        stage('{{ label }}') {
          agent {
            label '{{ agent_label_build }}'
          }
          stages {
{% if has_webpack_config_js %}
            stage('Build webpack') {
              steps {
                sh 'make prepare_ci_stage'
                sh 'make build_webpack'
              }
              post {
                cleanup {
                  sh 'make clean_stage_images'
                }
              }
            }

{% endif %}
            stage('Production build') {
              environment {
                TARGET = '-prod'
                R_TARGET = ''
              }
              stages {
                stage('Pull production cache') {
                  steps {
                    sh 'TARGET=-prod-base make pull_cache_gracefully'
                    sh 'make pull_cache_branch_gracefully'
                  }
                  post {
                    cleanup {
                      sh 'make clean_pull_cache'
                    }
                  }
                }
                stage('Build production') {
                  steps {
{% if not has_webpack_config_js %}
                    sh 'make build_dev_with_cache'
{% endif %}
                    sh 'make build_prod'
                  }
                  post {
                    cleanup {
                      sh 'make clean_stage_images'
                    }
                  }
                }
                stage('docker push') {
                  steps {
                    sh 'TARGET=-prod-base make push_cache'
                    sh 'TARGET=-prod-base R_TARGET=-prod-base make push_cache_branch'
                    sh 'make push_cache_branch'
                    sh 'make push_target'
                    sh 'make log_image_digest'
                    archiveArtifacts 'docker-image.digest.txt'
                  }
                  post {
                    cleanup {
                      sh 'make clean_push'
                    }
                  }
                }
              }
            }
{% if has_webpack_config_js %}

            stage('archive public') {
              steps {
                sh 'make public.tar.gz'
                archiveArtifacts(artifacts: 'public.tar.gz*')
              }
              post {
                cleanup {
                  sh 'make clean/public.tar.gz'
                }
              }
            }
{% endif %}
{% if name == 'real-time' %}

            stage('archive socket.io-client') {
              steps {
                sh 'make public.tar.gz'
                archiveArtifacts(artifacts: 'public.tar.gz*')
              }
              post {
                cleanup {
                  sh 'make clean/public.tar.gz'
                }
              }
            }
{% endif %}
          }
          post {
            cleanup {
              sh 'make clean_build'
            }
          }
        }
      }
    }
  }
}
