{% extends '_/coffeescript/Jenkinsfile.ce.j2' %}

{% set docker_image_texlive_origin = (
    '$SHARELATEX_DOCKER_REPOS/texlive:full-2017'
  ) %}
{% set url_texlive_docker_image = (
    'https://github.com/das7pad/sharelatex-docker-images.git#:texlive'
  ) %}
{% set docker_image_texlive_upstream = (
    'quay.io/sharelatex/texlive-full:2017.1'
  ) %}

{% block pull_external %}
        stage('Pull Texlive') {
          when {
            expression {
              env.SHARELATEX_DOCKER_REPOS != null
            }
          }
          options {
            timeout(time: 2, unit: 'HOURS')
          }
          environment {
            TEXLIVE_IMAGE = "{{ docker_image_texlive_origin }}"
          }
          steps {
            sh  '''
                set -ex
                docker pull $TEXLIVE_IMAGE \
                || (
                  docker build \
                    -t $TEXLIVE_IMAGE \
                    --build-arg TEXLIVE_SCHEME=full \
                    {{ url_texlive_docker_image }} \
                  && \
                  docker push $TEXLIVE_IMAGE
                )
                '''
            sh 'docker tag $TEXLIVE_IMAGE {{ docker_image_texlive_upstream }}'
          }
        }
        stage('Build Texlive') {
          when {
            expression {
              env.SHARELATEX_DOCKER_REPOS == null
            }
          }
          options {
            timeout(time: 2, unit: 'HOURS')
          }
          steps {
            sh  '''
                docker build \
                  -t {{ docker_image_texlive_upstream }} \
                  --build-arg TEXLIVE_SCHEME=full \
                  {{ url_texlive_docker_image }}
                '''
          }
        }
{% endblock %}
