{% extends '_/es/.dockerignore.j2' %}

{% block config %}
{{ super() }}
!/config/settings.test.js
{% endblock %}

{% block app %}
{{ super() }}

!/test/mocha-init.js
{% endblock %}

{% block tool_config %}
{{ super() }}

!/.mocharc.json
!/test/.eslintrc.json
{% endblock %}
